$layout-module-size:                30px;
$directions:                        top, right, bottom, left;
$parts:                             1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,30,40;




$border-radius-default:             0.1875rem;
$padding-default:                   0.9375rem !default;
$margin-default:                    0.9375rem !default;

$border-radius-small:               3px !default;
$border-radius-med:                 6px !default;
$border-radius-big:                 10px !default;

$spacer:                            1rem !default;
$space-big:                         40px !default;
$space-med:                         20px !default;
$space-small:                       10px !default;

$margin-buttons:                    0.125rem;


$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;


/**************************************** VARIABLES SCREENS SIZE  AND GRID ********************************/

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;


/*************************  Variables variations flexbox ****************************/
$variations-align-content: flex-start, flex-end, center,space-between, space-around, stretch;
$variations-ms-align-content: start, end, center, justify, distribute, stretch;

$variations-align-self: flex-start, flex-end, center, stretch, baseline, auto;
$variations-ms-align-self: start, end, center, stretch, baseline, auto;

$variations-justify-content: flex-start, flex-end, center,space-between, space-around;
$variations-ms-justify-content: start, end, center, justify, distribute;

$variations-align-items: flex-start, flex-end, center, stretch, baseline;
$variations-ms-align-items: start, end, center, stretch, baseline;