$font-family-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$font-family-serif:      'Roboto Slab', 'Times New Roman', serif !default;

$font-size-h1:                 3.3125rem;
$font-size-h2:                 2.25rem !default;
$font-size-h3:                 1.5625rem;
$font-size-h4:                 1.125rem !default;
$font-size-h5:                 1.0625rem !default;
$font-size-h6:                 0.75rem !default;
$font-size-paragraph:          0.875rem !default;
$font-size-navbar:             1rem !default;
$font-size-small:              0.75rem !default;
$font-size-block:              1.063rem !default;
$font-size-default:            0.875rem !default;


$display1-size:                 7rem !default;
$display2-size:                 3.5rem !default;
$display3-size:                 2.8125rem !default;
$display4-size:                 2.125rem !default;

$headings-margin-bottom:        ($spacer / 2) !default;
$headings-font-weight:          400 !default;

$font-weight-light:             300 !default;
$font-weight-default:           400 !default;
$font-weight-bold:              500 !default;
$font-weight-extra-bold:        700 !default;

$font-size-buttons:             0.8125rem;
$font-size-fab-buttons:         1.25rem;
$font-size-lg-buttons:          1.0625rem;
$font-size-sm-buttons:          .8125rem;
$font-size-xs-buttons:          .75rem;
$font-size-fab-buttons:         1.5rem;
$font-size-icon-buttons:        1.25rem;