%divider{
    overflow: hidden;
    background-color: $grey-300;
    width: 100%;  
}
.divider-1{
    height: 0.0625rem;
    @extend %divider;
}

.divider-2{
    height: 0.125rem;
    @extend %divider;
}

.divider-3{
    height: 0.1875rem;
    @extend %divider;
}

.divider-4{
    height: 0.25rem;
    @extend %divider;
}